<!doctype html>
<html>
    <nav>
        <td>
            <tr>
                <a href="/">home</a>
            </tr>
            <tr>
                <a href="/login">login</a>
            </tr>
            <tr>
                <a href="/blog">all posts</a>
            </tr>
        </td>
        <td>
            <tr>
                <a href="/newpost">new post</a>
            </tr>
        </td>
        <td>
            <tr>
                <a href="/logout">logout</a>
            </tr>
        </td>
    </nav>
    <head>
        <title>{{title}}</title>
        <style>
            .error {
                color: red;
            }
        </style>
     </head>
<body>
    {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
        {% for category, message in messages %}
            <li class="{{category}}">{{message}}</li>
        {% endfor %}
        </ul>
    {% endwith %}

    {% block content %}
    {% endblock %}

</body>
</html>